version: '3'

services:

  app:
    build:
      context: node
      dockerfile: Dockerfile
    container_name: app
    entrypoint: sh -c "dockerize -wait tcp://db:3306 -timeout 30s node index.js"
    volumes:
      - ./node:/app
    networks:
      - nodeworks
    depends_on:
      - db

  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=challenge
    networks:
      - nodeworks

  nginx:
    build:
      context: nginx
      dockerfile: Dockerfile
    container_name: nginx
    entrypoint: sh -c "dockerize -wait tcp://app:3000 -timeout 30s /docker-entrypoint.sh nginx -g 'daemon off;'"
    restart: always
    ports:
      - "8080:80"
    networks:
      - nodeworks

networks:
  nodeworks:
    driver: bridge
